<%- include('includes/head')%>
  <%- include('includes/nav')%>
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda .v3</h1>
          <p class="text-center lead">Seus contatos</p>
          <%- include('includes/posts');%>
        </div>
        <div class="responsive-table">
          <table class="table my-3">
            <tr>
              <td>paçoca</td>
              <td>sexodasilva</td>
              <td>40028922</td>
              <td>socafofo@orkut.com</td>
            </tr>
          </table>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
    <%- include('includes/footer')%>